.photos_container_master {
    display: flex;
    justify-content: space-between;
}

.photo_container {
    border-radius: 100%;
    width: 15.625rem;
    height: 15.625rem;
    margin-bottom: 1.5rem;
}

.photo_container1 {
    background-image: url(/assets/img/corte1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.photo_container2 {
    background-image: url(/assets/img/corte2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.photo_container3 {
    background-image: url(/assets/img/corte3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title_h4 {
    text-align: center;
}
